<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Bankole Cv</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("#welcome").fadeOut();
  });
});
</script>
</head>
<body>

    <!-- Welcome page -->
    <div class="welcome-container" id="welcome">
        <button>Proceed to Website</button><br><br>
        <h1 class="welcome">
            Welcome
        </h1>
    </div>
    <header>
        <nav class="navigation" id="nav">
            <ul class="navigation-menu">
    <li class="link" ><a href="#profile" class="link">Profile</a> </li>
    <li class="link" > <a href="" class="link"></a></li>
    <li class="link" ><a href="#edu" class="link">Education</a></li>
    <li class="link" ><a href="#add" class="link">Additional Skills</a> </li>
    <li class="link" ><a href="#hobbies" class="link">Hobbies&Interests</a> </li>
    <li class="link"><a href="file:///C:/Users/tobib/Documents/submit/Resume.pdf" target="_blank" class="link">Resume/CV</a> </li>
     <li class="link"><a href="#friends" class="link">Friends</a> </li>
</ul>
</nav>
<div class="second-menu">
    <p>Preliminary Interview Test for Trainee Developer / Intern (Mobile App)</p>
</div>
    </header>
    <div class="banner6">
        <h1 class="banner-text1" id="profile">Profile</h1>
        <h3 class="banner-text2">About</h3>
        <p class="banner-text3">A Bachelor of Engineering student at Covenant University with an intermediate knowledge of C#, C,
            Java, HTML5 and CSS3.I have acquired certificates from online courses offered by schools like John
            Hopkins university in Responsive Website Design. Possess software proficiency and technical writing
            skills, can combine adaptability, creativity and teamwork skills for problem-solving. Keen to pursue a
            career in Information and Communication Engineering, more specifically Computer Engineering.</p>
            <img src="Images/assassins_creed_4_super_bowl-1600x900.jpg" width="1200" height="600">
        <div>
         <a href="#" class="link-1">More about Profile?! > </a>        
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>


        <div class="banner7"> 
            <h1 class="second-text1" id="edu">EDUCATION</h1>
            <h3 class="second-text2">Covenant University| Ogun State, Nigeria.
                </h3>
                <p class="second-text2">Bachelor of Engineering</p>
                <p class="second-text2">Predicted Grade: First class</p>
                <p class="second-text2">Current CGPA: 4.63</p>
            <h3 class="second-text2">Good Shepherd High School| City, Country 
                </h3>
                <p class="second-text2">WAEC
                    Subjects: Mathematics (A), Further Mathematics (B), Technical Drawing (A), Physics (B)</p>
                <p class="second-text2">JAMB 
                                        Grade:275</p>
                <img src="Images/cu.jfif" width="400" height="400">
                                        
           
           <div>
                   <a href="#" class="link-3">More about Education></a>
            </div> 
           

</div>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>   
<div class="banner6">
    <h1 class="banner-text1" id="hobbies">Hobbies and Interests</h1>
    <h3 class="banner-text2">Computer Programminging</h3>
    <p class="banner-text3">Often times I find myself watching online videos on several programming
        languages and mirroring what I can see repeatedly until I can do them independently</p>
<br>
<br>
<br><br>         <img src="Images/wallhaven-545461.jpg" width="1200" height="600">
    <div>
        <h3 class="banner-text2">Motorsports</h3>
        <p class="banner-text3">I have a passion and fascination for motorsports like Formula 1 which stems from my
            interest in Automobiles and Automobile engineering.</p>
            <img src="Images/wallhaven-44454.jpg" width="1200" height="800">
        </div>    
     <a href="#" class="link-1">More about Profile?! > </a>

     <br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

     <div class="banner7"> 
        <h1 class="second-text1" id="add">Additional Skills</h1>
        <h3 class="second-text2">Languages</h3>
            <p class="second-text2"> English (Advanced),</p>
            <p class="second-text2"> French (Beginner)</p>
        <h3 class="second-text2">Microsoft Office </h3>
            <p class="second-text2"> Proficient in Word, Excel and PowerPoint</p>
        <h3 class="second-text2"> Skills </h3>
            <p class="second-text2"> Problem-solving and Critical thinking</p>
            <img src="Images/high.jfif" width="400" height="400">
                                    
            <br>
            <br>
            <br>
            <br>
            <br>

<div class="banner6" id="friends">
    <h1 class="banner-text1" id="hobbies">Friends</h1>
    <h3 class="banner-text2">/******DISCLAIMER*******/</h3>
    <p class="banner-text3">Unfortunately, due to the 
        dangers surrounding online interactions I will not be uploading any Images containing me or my friends. 
        I sincerely hope that the other pictures which I have uploaded will suffice for my assesment. </p>
        <br>
        <img src="Images/thanks.jpg" >
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

       <div>
               <a href="#nav" class="link-3">Back to Top</a>
        </div> 
       
       
    
</body>
</html>